<div class="container input-form-box">
  <h5>Define brand new words here:</h5>
  <form action="/user_input" method="post">
    <div>
      <label for="word">Enter a new word:</label>
      <input class="form-control" type="text" name="word" pattern="[A-za-z]{1,20}">
    </div>
    <div>
      <label for="definition">Enter the definition for the above word:</label>
      <input class="form-control" type="text" name="definition" pattern="[a-zA-Z\s\.0-9]{1,255}">
    </div>
    <div class="button">
    <button type="button-default button submit" name="button" title="Add a new word to the list!">Create</button>
    </div>
  </form>
</div>

<div class="container input-form-box">
  <form action="/user_clear" method="post">
    <div class="button">
      <label for="clear"><b>Click this button if you want to delete the list below!</b></label>
      <button type="button-default button" name="clear" title="Careful!  This will delete your word list!">Clear!</button>
    </div>
  </form>
</div>

<div class="container edit-form-box">
  <h5>Words you can view:</h5>
  <% Word.all.each do |single_word| %>
  <div class="edit-form-box-sub container">
    <div class="row">
      <form action="/worddef<%= single_word.id %>" method="get">
      <h6><%= single_word.dictionary_word %></h6>
      <button type="button-primay button" name="select" value="<%= single_word.id %>">Edit word: <%= single_word.dictionary_word %></button>
      </form>
    </div>
  </div>
  <% end %>
</div>
