<div class="container">
  <!-- now_word = Word.find_id(params[:id])
  <div class="showdef-form-box">
    <a href="/word<%= x.id %>"><%= x.dictionary_word %></a><br>
  </div>

  <% end %> -->

  <p>you made it</p>
  <p> <%= @output_word %> <%= @output_def %> </p>
</div>
