<div class="container output-form-box">
  <h4>The word you have picked is:</h4>
  <h2> <%= @output_word %> </h2>
  <!-- <p> Debug: This is ID # <%= @temp_id %> </p> -->
  <% @output_def.each do |defs| %>
  <p><i> <%= defs %> </i><p>
  <% end %>
</div>
<div class="container input-form-box">
  <h4>Enter a word:</h4>
  <form action="/worddef<%= @temp_id %>" method="post">
    <div>
      <label for="definition">Enter another definition:</label>
      <input id="definition" class="form-control" type="text" name="definition" pattern="[^\s][a-zA-Z\s\.0-9]{1,255}" title="Enter a definition">
    </div>
    <div class="container">
      <div class="row">
        <button type="submit" class="button button-default" name="select" value="newdef">Submit new definition</button>
        <button type="submit" class="button button-default" name="select" value="back">Go Back</button>
      </div>
    </div>
  </form>
</div>
